body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/faf23579-2030-4db4-a8f8-15446c89e3e2/d5ob877-03de2684-9104-4ee7-8c14-40ec624bf8cb.jpg/v1/fill/w_1024,h_620,q_75,strp/background_one_piece_by_xxhxaxx_d5ob877-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjIwIiwicGF0aCI6IlwvZlwvZmFmMjM1NzktMjAzMC00ZGI0LWE4ZjgtMTU0NDZjODllM2UyXC9kNW9iODc3LTAzZGUyNjg0LTkxMDQtNGVlNy04YzE0LTQwZWM2MjRiZjhjYi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.eTb-zSAQ4T5BMwderVMj6LY_Xvrpyi5xH0LkFqrEcy8);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@font-face {
  font-family: fo;
  src: url(PinkChicken-Regular.ttf);
}
.p {
  width: 68%;
  margin: auto;
  background-color: white;
  position: relative;
  top: 1cm;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.253);
}
.a {
  float: right;
  margin: 15px 15px;
  border-radius: 15px;
}
.a1 {
  padding: 30px 15px 15px 15px;
  font-family: fo;
}
.bg {
  height: 400px;
  width: 100%;
}
.b {
  height: 40%;
  width: 40%;
  float: right;
  margin: 30px;
  border-radius: 15px;
}
.b1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.b2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.c {
  height: 40%;
  width: 40%;
  float: left;
  margin: 30px;
  border-radius: 15px;
}
.c1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.c2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.d {
  height: 40%;
  width: 40%;
  float: right;
  margin: 30px;
  border-radius: 15px;
}
.d1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.d2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.e {
  height: 40%;
  width: 40%;
  float: left;
  margin: 30px;
  border-radius: 15px;
}
.e1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.e2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.f {
  height: 40%;
  width: 40%;
  float: right;
  margin: 30px;
  border-radius: 15px;
}
.f1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.f2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.g {
  height: 40%;
  width: 40%;
  float: left;
  margin: 30px;
  border-radius: 15px;
}
.g1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.g2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.h {
  height: 40%;
  width: 40%;
  float: right;
  margin: 30px;
  border-radius: 15px;
}
.h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.h2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.i {
  height: 40%;
  width: 40%;
  float: left;
  margin: 30px;
  border-radius: 15px;
}
.i1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.i2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.j {
  height: 40%;
  width: 40%;
  float: right;
  margin: 30px;
  border-radius: 15px;
}
.j1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.j2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.k {
  height: 40%;
  width: 40%;
  float: left;
  margin: 30px;
  border-radius: 15px;
}
.k1 {
  font-size: 40px;
  font-weight: bold;
  padding: 50px 15px 0px 15px;
  font-family: fo;
  text-transform: uppercase;
}
.k2 {
  padding: 0px 15px 15px 15px;
  font-family: fo;
}
.bg2 {
  height: 400px;
  width: 100%;
}
.bg3 {
  height: 400px;
  width: 100%;
}
.end {
  text-align: center;
  text-transform: uppercase;
  margin: 50px;
}
.pilih {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI";
  color: white;
  opacity: 1;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
}
.ya {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI";
  color: white;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
}
.ya:hover {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI";
  color: white;
  opacity: 1;
  text-shadow: 5px 5px 10px black;
  text-transform: uppercase;
}
